
  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Poppins:wght@700&family=Rubik+Doodle+Shadow&display=swap');



*
{
    box-sizing: border-box;
}

:root{
    --main-color: #14140F;
    --secondary-color: #053D38;
    --third-color:#34675C;
    --fourth-color:#A3CCAB;
    --fifth-color:#F26800;
}
section
{
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    
    
}
#myVideo {
    position: absolute;
    width: 140%;
    height: 99vh;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: 1;
    
    
  }
body {
    margin: 0;
    font-family: poppins;
}

header {
    /* background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 87%); */
    /* padding: 15px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--main-color);
    /* background-color: rgba(188, 186, 186, 0.445); */
    
    

}

.logo h1{
    font-weight: 900;
    font-family:poppins ;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    

}


.logo span
{
    font-weight: 900;
    font-family:poppins ;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(248, 80, 8);
    letter-spacing: 1px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a:hover
{
    /* background-color: rgb(252, 250, 250); */
    border-radius: 20px;
    color: var(--fourth-color);
    
}

a {
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}



#banner-img
{
    width: 100%;
    height: 99vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.banner-quote
{
    /* position: absolute; */
    text-align: center;
    color: whitesmoke;
    font-family: poppins;
    
}
.banner-quote button
{
    margin-top: -30px;
    background-color: var(--third-color);
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;;
    width: 180px;
    /* height: 50px; */
    padding: 8px;
    font-family: poppins;
}

.banner-quote button:hover
{
    background-color: var(--secondary-color);
    
}
#banner h1
{
    font-size: 60px;
    color: rgb(255, 254, 252);
    text-align: center;
    justify-content: center;
    font-family: poppins;
    
    margin-top: 200px;
}
#banner span
{
    color:var(--fifth-color)
}

#banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner-quote
{
   z-index: 2;
}


.gain-quote
{
    font-size: 40px;
    color: var(--fourth-color);
    margin-top: -50px;
    
}

#about
{
    display: flex;
    align-items:center;
    justify-content: center;
}

.about-main
{
    width: 90%;
    height: 80vh;
    position: relative;
}

.about-img 
{
    width: 600px;
    height: 500px;
    position: absolute;
    z-index: 1;
    left:100px;
}

.about-img img
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px white;
    
}

.about-content
{
    width: 530px;
    padding: 20px 30px;
    text-align: justify;
    height: 100%;
    overflow: hidden;
    right: 0;
    background-color: var(--third-color);
    z-index: 2;
    position: absolute;
}
.about-content h1
{
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;

}
.about-content p{
    font-size: 16px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.box
{
    width: 900px;
    height: 400px;
    background-color:var(--fourth-color);
    bottom: 0;
    z-index: 0;
    position: absolute;
}


#program
{
    color: white;
    background-color: var(--third-color);
}
.chooseprg
{
    text-align: center;
    padding-top: 70px;

   
}

.card-container
{
    display: grid;
   
    column-gap: 20px;
    grid-template-columns: auto auto;
   
    
    
}

.programdiv
{
    flex-direction: row;
    display: flex;
    align-items:center;
    padding: 10px;
   
    padding-left: 40px;

}


.card-content
{
    padding-left: 50px;
    width:70% ;
}

.timetable {
            text-align: center;
            margin: 10px;
            /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%); */
            
        }

         .sched
         {
            text-align: center;
            color: white;
            padding-top: 60px;
         }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color:var(--main-color);
           
        }

        th, td {
            padding: 35px;
            border: 1px solid #ddd;
            color: var(--fifth-color);
        }

        th {
            background-color: #333;
            color: #fff;
        }

      
        .trainer-cards {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
           
            padding-top: 100px;
            
           
            z-index: 2;
            color: #ffffff;

        }
        .trainer-card {
            width: 330px;
            margin: 20px;
            padding: 15px;
            text-align: center;
            box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
            background-color: var(--main-color);
            opacity: 0.5;
        }

        .trainer-image {
            max-width: 100%;
            border-radius: 80%;
        }

        #Sign
        {
            padding-top: 50px;
        }

        form {
            background-color: #fff;
            height: 750px;
           padding: 10px 40px;
           box-shadow: 2px 2px 2px 2px rgb(64, 64, 64);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
           margin-left: 400px;
            width: 50%;
        }
        
        form h3
        {
            text-align: center;
            font-weight: 900;
    font-family:poppins ;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(12, 12, 12);
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #333;
        }

        input, select, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        select {
            appearance: none;
            padding: 10px;
        }

        #Sign button
        {
            margin-top: -30px;
    background-color: var(--third-color);
    color: white;
    border-radius: 20px;
    outline: none;
    border: none;;
    width: 180px;
    /* height: 50px; */
    padding: 8px;
    font-family: poppins;
    margin-left: 250px;

        }

        #Sign button:hover
        {
            background-color: var(--secondary-color);
        }

      

        footer {
            background-color:var(--third-color);
            color: #fff;
            padding: 20px 0;
        }
        
        .footer-container {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .contact-info,
        .social-media {
            flex: 1;
            padding: 0 20px;
        }
        
        .contact-info h3,
        .social-media h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        
        .contact-info p {
            margin: 5px 0;
        }
        
        .social-media img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        
        .copyright {
            text-align: center;
            margin-top: 20px;
        }
        
        /* breakpoints */

        @media only screen and (min-width: 320px) and (max-width: 680px) {
            .logo h1 {
                font-size: 24px;
            }
    
            nav ul {
                flex-direction: column;
                align-items: center;
                display: none;
            }
    
            nav ul.show {
                display: flex;
            }
    
            li {
                margin-bottom: 10px;
            }
    
            .head-content {
                position: relative;
            }
    
            .toggle {
                display: block;
            }
    
            .close {
                display: none;
            }
    
            .banner-quote h1 {
                font-size: 24px;
                margin-top: 60px;
            }
    
            .banner-quote h3 {
                font-size: 16px;
            }
    
            #about .about-main {
                flex-direction: column;
                align-items: center;
            }
    
            .about-content {
                text-align: center;
            }
    
            .programdiv {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
    
            .card-content {
                padding-left: 0;
            }
    
            form h3 {
                font-size: 20px;
            }
    
            section {
                margin-bottom: 40px; /* Add margin to create space between sections */
            }
        }
    
        /* Media query for screens with width up to 320px */
        @media only screen and (max-width: 320px) {
            .logo h1 {
                font-size: 20px;
            }
    
            .banner-quote h1 {
                font-size: 20px;
                margin-top: 40px;
            }
    
            .banner-quote h3 {
                font-size: 14px;
            }
    
            .head-content ul {
                font-size: 14px;
            }
    
            .about-img img {
                width: 100%;
            }
    
            .about-content {
                font-size: 14px;
            }
    
            .programdiv {
                font-size: 14px;
            }
    
            .card-content p {
                font-size: 12px;
            }
    
            .timetable table {
                font-size: 12px;
            }
    
            .trainer-card h3,
            .trainer-card p {
                font-size: 14px;
            }
    
            form label,
            form input,
            form textarea,
            form select,
            form button {
                font-size: 14px;
            }
    
            section {
                margin-bottom: 20px; /* Adjusted margin for smaller screens */
            }
        }